.feedback {
  h2 {
    margin-bottom: 40px;

    @include block_767 {
      margin-bottom: 15px;
    }
  }
}

.bg-text {
  overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    top: 0px;
    right: -30px;
    content: 'U';
    font-weight: 900;
    font-size: 660px;
    line-height: 114%;
    color: #2AD1AB;
    opacity: 0.1;
    z-index: -1;

    @include block_767 {
      top: -100px;
    }
  }
}