.footer {
  .header-menu {
    li {
      @include block_991 {
        margin-right: 15px;
      }

      @include block_767 {
        margin-right: 0;
      }
    }
  }

  .header-nav {
    position: relative;
  }

  .header-nav,
  .header-menu {
    @include block_767 {
      flex-direction: column;
      align-items: stretch;

      .logo-wrapper {
        text-align: center;

        @media (max-width: 480.98px) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      li {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 200%;
        color: #18243E;
      }
    }
  }

  .to-top-btn {
    @include block_767 {
      position: absolute;
      top: 70px;
      right: 0;
    }

    @include block_480 {
      top: 40px;
    }
  }
}