.modal-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1112;
  transition: 0.4s all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
  width: 0;
  height: 0;

  button {
    outline: none;
  }

  &.modal-visible {
    width: 100%;
    height: 100%;
  }

  &::before {
    position: absolute;
    bottom: -140px;
    right: -80px;
    content: 'U';
    font-weight: 900;
    font-size: 660px;
    line-height: 114%;
    color: #2AD1AB;
    opacity: 0.1;
    z-index: -1;
  }

  .close-icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin-bottom: 24px;
      max-width: 466px;
      font-size: 25px;

      @include block_767 {
        font-size: 20px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input {
        margin-bottom: 15px;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
        border-radius: 9px;
        border-width: 0;
        padding: 27px;
        width: 285px;
        font-size: 19px;

        @include block_767 {
          font-size: 17px;
        }

        &::placeholder {
          font-weight: 500;
          font-size: 19px;
          line-height: 1;
          color: #424242;

          @include block_767 {
            font-size: 17px;
          }
        }
      }

      .price-btn {
        margin-top: 21px;

        @include block_767 {
          padding-right: 57px;
        }
      }
    }
  }

  select {
    padding: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/icons/select-arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    border-width: 0;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 21px;
    background-color: #fff;
  }
}