.partners-slider {
  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
  }
}

.staff {
  .swiper-container {
    padding-bottom: 40px;
  }

  .swiper-slide {
    img {
      border-radius: 20px;
    }
  }

  .swiper-pagination {
    bottom: 0;
    opacity: 0;
    visibility: hidden;

    @include block_767 {
      opacity: 1;
      visibility: visible;
    }

    &-bullet {
      background-color: #2AD1AB;

      &-active {
        transform: scale(1.5);
      }
    }
  }
}

.certificates {
  .swiper-container {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: -30px;
    margin-bottom: -40px;
  }

  .swiper-pagination {
    opacity: 0;
    visibility: hidden;

    @include block_1199 {
      opacity: 1;
      visibility: visible;
    }

    &-bullet {
      background-color: #2AD1AB;

      &-active {
        transform: scale(1.5);
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
    visibility: hidden;

    @include block_1199 {
      opacity: 1;
      visibility: visible;
      z-index: 111;
    }
  }
}

.feedback {
  .swiper-container {
    padding-bottom: 30px;
  }

  .swiper-pagination {
    opacity: 0;
    visibility: hidden;

    @include block_991 {
      opacity: 1;
      visibility: visible;
    }

    &-bullet {
      background-color: #2AD1AB;

      &-active {
        transform: scale(1.5);
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
    visibility: hidden;

    @include block_1199 {
      opacity: 1;
      visibility: visible;
      z-index: 111;
    }
  }
}

.partners-second {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @include block_767 {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.swiper-button-disabled {
  opacity: 0.2 !important;
}

.swiper-slide {
  height: auto;
  text-align: center;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  z-index: 111;
  top: 45% !important;
}